!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge,chrome=1", http: {equiv: "X-UA-Compatible"}}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %title= current_page.data.title || "The Middleman"
    %link{:href => "//fonts.googleapis.com/css?family=Questrial", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "//fonts.googleapis.com/css?family=Sanchez:400italic,400", :rel => "stylesheet", :type => "text/css"}
    = stylesheet_link_tag "application"

  %body{class: page_classes}
    = partial 'layouts/_nav'
    .container.type-system-traditional
      = yield
    = javascript_include_tag "https://code.jquery.com/jquery-2.1.1.min.js", "application"

    %footer.footer-2{:role => "contentinfo"}
      .container
        .footer-logo
          %img{:alt => "Logo Image", :src => "/assets/images/slate-logo.svg"}
        %ul
          %li
            %p &copy;2016 Slate Ventures, LLC
        .footer-secondary-links
          %ul
            %li
              %a{:href => "javascript:void(0)"} Terms of Use
            %li
              %a{:href => "javascript:void(0)"} Privacy Policy
            %li
              %a{:href => "javascript:void(0)"} Contact
            %li
              %a{:href => "javascript:void(0)"} News
          %ul.footer-social
            %li
              %a{:href => "javascript:void(0)"}
                %img{:alt => "Facebook", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png"}
            %li
              %a{:href => "javascript:void(0)"}
                %img{:alt => "Twitter", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png"}
            %li
              %a{:href => "javascript:void(0)"}
                %img{:alt => "LinkedIn", :src => "http://f.cl.ly/items/3p2P3h3z0O013p1N0F38/Untitled-1.png"}
            %li
              %a{:href => "javascript:void(0)"}
                %img{:alt => "Instagram", :src => "http://f.cl.ly/items/2h0R3U1z3E023v101h0M/Untitled-1.png"}